<section class="vh-100 gradient-custom" *ngIf="!serveiAutenticar.loginOK">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="email" name="email" id="email" [(ngModel)]="serveiAutenticar.email" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" name="psw" id="psw" [(ngModel)]="serveiAutenticar.psw" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="login()">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg" (click)="googleLogin()"></i></a>
              </div>
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- logout -->
<section class="vh-100 gradient-custom" *ngIf="serveiAutenticar.loginOK">
  <!-- <app-menusuperior></app-menusuperior>
  <div class="container-fluid" style="margin-top: 20px;"></div>
  <router-outlet></router-outlet> -->

 
  <div *ngIf="serveiAutenticar.loginOK" class="row">
    <div class="col-sm-9 col-md-7 col-lg-4 mx-auto text-center" style="margin-top: 25px;">
      <div class="form-label">{{ serveiAutenticar.usuari.displayName }}</div>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-4 mx-auto text-center" style="margin-top: 25px;">
      <div class="form-label">{{ serveiAutenticar.usuari.email }}</div>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-2 mx-auto">
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="serveiAutenticar.logout();">Tancar sessió</button>
    </div>
  </div>
</section>
  